<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ClientId" value="7278f3db-cbed-4d30-96d7-cf93719f10d6"/>
    <add key="TenantId" value="organizations"/>
    <add key="KeyVaultSecretIdentifier" value="https://svmic.vault.azure.net/secrets/SendGrid-API-Key/4b2359314a5042b3a5e3bc86fc111db5"/>
    <add key="FromAddress" value="eric.li@provisionsgroup.com"/>
    <add key="FromName" value="Eric Li"/>
    <!--<add key="TenantId" value="bda218b4-a72c-426c-b46d-583f02a1427e"/>-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>